<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>US Geography Quiz</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
        <script>
        
            $(document).ready(function(){
                var score = 0;
                localStorage.setItem("total_attempts", 0);
                var attempts = localStorage.getItem("total_attempts");
                
                $('button').on('click', gradeQuiz);
                
                $(".q5Choice").on("click", function(){
                    $(".q5Choice").css("background", "");
                    $(this).css("background", "rgb(255, 255, 0)");
                });
                
                function displayQ4Choices(){
                    let q4ChoicesArray = ["Maine", "Rhode Island", "Maryland", "Delaware"];
                    q4ChoicesArray = _.shuffle(q4ChoicesArray);
                    
                    for ( let i = 0; i < q4ChoicesArray.length; ++i ){
                        $("#q4Choices").append(`<input type="radio" name="q4" id="${q4ChoicesArray[i]}" value="${q4ChoicesArray[i]}"><label for="${q4ChoicesArray[i]}">${q4ChoicesArray[i]}</label>`);
                    }
                }
                
                displayQ4Choices();
                
                
                function isFormValid(){
                    if ( $('#q1').val() == ""){
                        $("#validationFdbk").html("Question 1 was not answered");
                        return false;
                    }
                    return true;
                }
                
                function rightAnswer(index, special){
                    $(`#q${index}Feedback`).html("Correct!");
                    $(`#q${index}Feedback`).attr("class", "bg-success text-white");
                    $(`#markImg${index}`).html("<img src='img/checkmark.png' alt='xmark'>");
                    if ( special ) score += 12.5;
                    else score += 20;
                }
                
                function wrongAnswer(index){
                    $(`#q${index}Feedback`).html("Incorrect!");
                    $(`#q${index}Feedback`).attr("class", "bg-warning text-white");
                    $(`#markImg${index}`).html("<img src='img/xmark.png' alt='xmark'>");
                }
                
                function gradeQuiz(){
                    $("#validationFdbk").html("");
                     $("#congrats").html("");
                    
                    if (!isFormValid()){
                        return;
                    }
                    
                    score = 0;
                    
                    let q1Response = $("#q1").val().toLowerCase();
                    let q2Response = $("#q2").val();
                    let q4Response = $("input[name=q4]:checked").val();
                    let q6Response = $("#monthInput").val();
                    let q7Response = $("#statesInUS").val();
                    let q8Response = $("#q8").val();
                    
                    if ( 
                        q2Response == "" ||
                        q4Response == "" ||
                        q6Response == "" ||
                        q7Response == "" ||
                        q8Response == ""
                    ){
                        $("#validationFdbk").html("Please answer all questions");
                        return;
                    }
                    
                    if ( q1Response == "sacramento" ){ rightAnswer(1, false); } 
                    else{ wrongAnswer(1); }
                    
                    if (q2Response == "mo"){ rightAnswer(2); } 
                    else { wrongAnswer(2); }
                    
                    if ( 
                        $("#Jefferson").is(":checked") && 
                        $("#Roosevelt").is(":checked") &&
                        $("#Jackson").is(":checked")   &&
                        $("#Franklin").is(":checked")  ){
                            rightAnswer(3, false);
                        }
                    else { wrongAnswer(3); }
                    
                    if ( q4Response == "Rhode Island" ){ rightAnswer(4, false); }
                    else { wrongAnswer(4); }
                    
                    if ( $("#seal2").css("background-color") == "rgb(255, 255, 0)" ){
                        rightAnswer(5, false);
                    }
                    else {
                        wrongAnswer(5);
                    }
                    
                    if ( q6Response == "1850-09"){
                        rightAnswer(6, true);
                    }
                    else{
                        wrongAnswer(6);
                    }
                    
                    if ( q7Response == "50" ){
                        rightAnswer(7, true);
                    }else{
                        wrongAnswer(7);
                    }
                    if ( q8Response == "lol" ){
                        rightAnswer(8, true);
                    }
                    else{
                        wrongAnswer(8);
                    }
                    
                    
                    $("#totalScore").html(`Total Score: ${score}`);
                
                    $("#totalAttempts").html(`Total Attempts: ${++attempts}`);
                    localStorage.setItem("total_attempts", attempts);
                    
                    if ( score >= 80 ){
                        $("#totalScore").removeClass("text-danger");
                        $("#totalScore").addClass("text-success");
                        $("#congrats").html("Good Job!");
                    }
                    else{ 
                        $("#totalScore").removeClass("text-success");
                        $("#totalScore").addClass("text-danger");
                    }
                }
                
            });// ready
            
        </script>
    </head>
    
    <body class="text-center">
        <h1 class="jumbotron">US Geography Quiz</h1>
        
        
        <!-- Q1 start -->
        <h3><span id="markImg1"></span>What is the capital of California?</h3>
        <input type="text" id="q1">
        <div id="q1Feedback"></div>
        <br>
        <!-- Q1 end -->
        
        
        <!-- Q2 start -->
        <h3><span id="markImg2"></span>What is the longest river?</h3>
        <select id="q2">
            <option value ="">Select One</option>
            <option value ="ms">Mississippi</option>
            <option value ="mo">Missouri</option>
            <option value ="co">Colorado</option>
            <option value ="de">Delaware</option>
        </select>
        <br><br>
        <div id="q2Feedback"></div>
        <br>
        <!-- Q2 end -->
        
        
        <!-- Q3 start -->
        <h3><span id="markImg3"></span>What Presidents are carved into mount Rushmore?</h3>
        <input type="checkbox" id="Jackson"> <label for="Jackson">A. Jackson</label>
        <input type="checkbox" id="Franklin"> <label for="Jackson">B. Franklin</label>
        <input type="checkbox" id="Jefferson"> <label for="Jackson">T. Jefferson</label>
        <input type="checkbox" id="Roosevelt"> <label for="Jackson">T. Roosevelt</label>
        <br><br>
        <div id="q3Feedback"></div>
        <br>
        <!-- Q3 end  -->
        
        
        <!-- Q4 Start  -->
        <h3><span id = "markImg4"></span>What is the smallest US State?</h3>
        <div id="q4Choices"></div>
        <div id="q4Feedback"></div>
        <br><br>
        <!-- Q4 end  -->
        
        
        <!-- Q5 Start  -->
        <h3><span id="markImg5"></span>What image is in the Great Seal of the State of California?</h3>
        <img src="img/seal1.png" alt"Seal 1" class="q5Choice" id="seal1">
        <img src="img/seal2.png" alt"Seal 2" class="q5Choice" id="seal2">
        <img src="img/seal3.png" alt"Seal 3" class="q5Choice" id="seal3">
        <div id="q5Feedback"></div>
        <br><br>
        <!-- Q5 end  -->
        
        
        <!-- Q6 Start  -->
        <h3><span id="markImg6"></span>What Month and Year was California admitted to the Union?</h3>
        <input type="month" id="monthInput">
        <div id="q6Feedback"></div>
        <br><br>
        <!-- Q6 end  -->
        
        <!-- Q7 Start  -->
        <h3><span id="markImg6"></span>How many States are in the U.S?</h3>
        <input type="number" id="statesInUS">
        <div id="q7Feedback"></div>
        <br><br>
        <!-- Q7 end  -->
        
        <!-- Q8 Start  -->
        <h3><span id="markImg6"></span>How likely are you to give me full points on this assignment?</h3>
        <select id="q8">
            <option value ="">Select One</option>
            <option value ="lol">100%</option>
            <option value ="lol">100%</option>
            <option value ="lol">99%</option>
            <option value ="lol">98%</option>
        </select>
        <div id="q8Feedback"></div>
        <br><br>
        <!-- Q8 endl  -->
        
        <!-- Validation and submit start -->
        <h3 id="validationFdbk" class="bg-danger text-white"></h3>
        <button class="btn btn-outline-success"> Submit Quiz </button>
        <br>
        <h2 id="totalScore" class="text-success"></h2>
        <h2 id="congrats" class="text-info"></h2>
        <h3 id="totalAttempts"></h3>
        <!-- Validation and submit end -->
    </body>
    
</html>